<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>nav</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand ms-5 me-3" href="/">Share Calendar</a>
            <div class="collapse navbar-collapse">
                <form class="d-flex" action="/calendar/search" method="GET">
                    <input class="form-control me-3" name="keyword" type="search" placeholder="'캘린더'라고 검색해보세요.">
                    <button type="submit" class="btn btn-outline-success me-3" >Search</button>
                </form>
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <% if(isAuthenticated){ %>
                    <li class="nav-item">
                        <a href="/user/logout" class="btn btn-outline-secondary">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#loginModal" id="login-btn">Login</button>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 로그인 모달 -->
    <div class="modal fade" id="loginModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">LOGIN</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <form action="/user/login" method="POST">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                            <input type="email" class="form-control" name="email" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-secondary" href="/user/join">Sign up</a>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</html>