<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--왼쪽 캘린더 리스트 부분-->
    <div class="list-group m" style="width:200px">
        <div class="modal-header">
            <p class="fw-bold fs-5 text-start m-0">캘린더 목록</p>
            <% if(isAuthenticated){ %>
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#addCategoryModal">+</button>
            <% } else { %>
            <button type="button" class="btn btn-outline-secondary" id="alertLogin">+</button>
            <% } %>

        </div>
        <ul class="list-group">
            <% if(isAuthenticated){ 
					calendarList.forEach(function(item){%>
            <li class="list-group-item">
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" id="<%= item.calendar_id %>" checked>
                    <label class="form-check-label" for="<%= item.calendar_id %>"><%= item.calendar_name %></label>
                </div>
            </li>
            <% }) %>
            <% } else { %>
            <li class="list-group-item">
                <div class="form-check form-switch ">
                    <input class="form-check-input" type="checkbox" name="visible" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">국가공휴일</label>
                </div>
            </li>
            <% } %>
        </ul>
    </div>

    <!-- 캘린더 추가 모달 -->
    <div class="modal fade" id="addCategoryModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">캘린더 추가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/calendar/add" method="POST">
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label p-2 me-3">캘린더명</label>
                            <div class="col-sm-9 p-0">
                                <input class="form-control" type="text" name="calendarName" required="required" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">설명</label>
                            <div class="col-sm-10">
                                <textarea rows="4" cols="45" name="calendarDesc"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">색상</label>
                            <div class="col-sm-10">
                                <select class="mt-2" name="calendarColor">
                                    <option value="#D25565" style="color:#D25565;">빨간색</option>
                                    <option value="#9775fa" style="color:#9775fa;">보라색</option>
                                    <option value="#ffa94d" style="color:#ffa94d;">주황색</option>
                                    <option value="#74c0fc" style="color:#74c0fc;">파란색</option>
                                    <option value="#f06595" style="color:#f06595;">핑크색</option>
                                    <option value="#63e6be" style="color:#63e6be;">연두색</option>
                                    <option value="#a9e34b" style="color:#a9e34b;">초록색</option>
                                    <option value="#4d638c" style="color:#4d638c;">남색</option>
                                    <option value="#495057" style="color:#495057;">검정색</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">공개 범위</label>
                            <div class="form-check form-check-inline col-sm-2 mt-2">
                                <input class="form-check-input" type="radio" name="calendarBounds" value="public"
                                    id="inlineRadio1">
                                <label class="form-check-label" for="inlineRadio1">공개</label>
                            </div>
                            <div class="form-check form-check-inline col-sm-3 mt-2">
                                <input class="form-check-input" type="radio" name="calendarBounds" value="private"
                                    id="inlineRadio2">
                                <label class="form-check-label" for="inlineRadio2">비공개</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer modalBtnContainer-addEvent">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary">저장</button>
                </div>
                </form>
            </div>

        </div>
    </div>
</body>
<script src="/jquery/dist/jquery.js"></script>
<script src='/javascripts/calendarList.js'></script>
</html>