<!DOCTYPE html>
<html lang='ko'>

<head>
	<meta charset='utf-8' />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link href='fullcalendar/main.css' rel='stylesheet' />
</head>


<body>
	<div class='frame'>
		<div class='search'>
			<input type="text" placeholder="검색할 캘린더를 입력하세요." class="search-box">
		</div>
		<div id='calendar' style="width: 80%;">
	</div>
</body>
<script src='fullcalendar/main.js'></script>
<script src='javascripts/main.js'></script>

</html>