<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/font.css" />
    <link rel='stylesheet' href="/stylesheets/font.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Noto+Sans+KR:wght@300;400&display=swap"
		rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Sign Up</title>
</head>

<body>
    <%- include('header.ejs')%>
    <div class="row">
        <div class="py-5 text-center">
            <h1>Sign Up</h1>
        </div>
        <form method="POST" action="/user/join">
            <div class="row justify-content-center">
                <div class="col-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <p id="emailcheck"></p>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="pw1" required>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <div class="col-3">
                    <label class="form-label">Confirm password</label>
                    <input type="password" class="form-control" id="pw2" required>
                    <p id="pwcheck"></p>
                </div>
            </div>
            <div class="row mb-5 justify-content-center">
                <div class="col-3">
                    <label class="form-label">Nickname</label>
                    <input type="text" class="form-control" name="nickname" required>
                </div>
            </div>
            <div class="row mb-3 justify-content-center">
                <input class="btn btn-primary" type="submit" value="Submit" style="width:300px">
            </div>
        </form>
    </div>

</body>
<script src="/jquery/dist/jquery.js"></script>
<script src='/javascripts/join.js'></script>

</html>