* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.noto-font {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}

.text-direction-down{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
